header {
    background-color: #656565;
    height: 10vh;
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: space-between
}
#logo {
    width: 30vw;
    display: flex;
}
#nav {
    display: flex;
    justify-content: space-evenly;
    width : 30vw;
    font-size: 2em;
    font-family:Arial, Helvetica, sans-serif;
}
#name {
    margin-left: 10%;
    font-size: 4em;
    font-family:Arial, Helvetica, sans-serif;
}

aside {
    width: 100vw;
    height:90vh;
    background: #000000;
    display: flex;
    align-items: center;
}
h1 {
    color: #E6DB55;
    margin: auto;
    font-size: 7em;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 650;
}
main{
    background: white;
    display: flex;
    flex-direction: column;
}
#squares{
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center
}
#rectangles {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center
    
}
#content {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center

}
.green-square {
    height: 40vh;
    width: 40vh;
    background: #9AFFD1;
    border-radius: 7%
    
}
.orange-rectangle {
    height: 40vh;
    width: 70vh;
    background: #FFBB61;
    
}
#statement {
    height: 40vh;
    width: 70vh;
    display: flex;
    align-items: center
    
}
#words {
    font-size: 1.85em;
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
}
img {
    height: 35vh;
    width: 55vh;

}
footer {
    width: 100vw;
    height: 30vh;
    background: #33334C;
}